# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# VS Code
.vscode/


